.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  border-bottom: 0.2px solid #373737;
  position: sticky;
  top: 0;
  background-color: #181818;
}

.header-home-box {
  display: flex;
  align-items: center;
}

.nav-icon {
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5px;
}
.nav-icon span {
  display: block;
  width: 22px;
  height: 2.5px;
  margin: 2px 0px;
  background-color: white;
}

.header-search-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-search-box .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border: 0.2px solid #373737;
  height: 30px;
}
.header-search-box .input-box input {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: none;
  outline: none;
  background-color: #121212;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
}
.header-search-box .input-box button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #313135;
  height: 100%;
  padding: 0px 15px;
  cursor: pointer;
  font-size: 17px;
  margin: 0;
}
.header-search-box .input-box button i {
  color: #717172;
}
.header-search-box button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.header-icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icons-box button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.header-icons-box button:active {
  background-color: #302d2d;
}

@media only screen and (max-width: 600px) {
  .site-header {
    padding: 10px;
  }

  .nav-icon {
    display: none;
  }

  .header-search-box {
    display: none;
  }

  .header-icons-box button {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
  .header-icons-box button img {
    width: 18px;
  }
}
.nav-section {
  padding-top: 20px;
  width: 240px;
  background-color: #212121;
  margin-top: -27px;
  height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 1368px) {
  .nav-section {
    height: 95vh;
  }
}
.nav-section::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

.nav-section::-webkit-scrollbar-track {
  border: none;
}

.nav-section::-webkit-scrollbar-thumb {
  background-color: #5c5b5b;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  border-bottom: 0.2px solid #373737;
  padding: 10px 0;
}

.nav-item {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.nav-item a {
  text-decoration: none;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.nav-item a img {
  margin-right: 15px;
}

.nav-item:hover {
  background-color: #383838;
  transition: background-color 0.2s ease;
}

.list-heading {
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.subsription {
  font-size: 14px;
  font-weight: 300;
}
.subsription img {
  border-radius: 50%;
}

.nav-link-active {
  background-color: #383838;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v20-latin-100.woff2") format("woff2"), url("../fonts/roboto-v20-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-900.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: white;
}

body {
  background-color: #181818;
  width: auto;
}

/*# sourceMappingURL=styles.css.map */
