.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  border-bottom: 0.2px solid #373737;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #181818;
}

.header-home-box {
  display: flex;
  align-items: center;
}

.nav-icon {
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5px;
}
.nav-icon span {
  display: block;
  width: 22px;
  height: 2.5px;
  margin: 2px 0px;
  background-color: white;
}

.header-search-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-search-box .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border: 0.2px solid #373737;
  height: 30px;
}
.header-search-box .input-box input {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: none;
  outline: none;
  background-color: #121212;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
}
.header-search-box .input-box button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #313135;
  height: 100%;
  padding: 0px 15px;
  cursor: pointer;
  font-size: 17px;
  margin: 0;
}
.header-search-box .input-box button i {
  color: #717172;
}
.header-search-box button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.header-icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icons-box button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.header-icons-box button:active {
  background-color: #302d2d;
}

@media only screen and (max-width: 600px) {
  .site-header {
    padding: 10px;
  }

  .nav-icon {
    display: none;
  }

  .header-search-box {
    display: none;
  }

  .header-icons-box button {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
  .header-icons-box button img {
    width: 18px;
  }
}
.nav-section {
  padding-top: 20px;
  width: 240px;
  background-color: #212121;
  margin-top: -27px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  transition: margin 0.2s ease;
}

@media only screen and (max-width: 1368px) {
  .nav-section {
    height: 95vh;
  }
}
.nav-section::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

.nav-section::-webkit-scrollbar-track {
  border: none;
}

.nav-section::-webkit-scrollbar-thumb {
  background-color: #5c5b5b;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  border-bottom: 0.2px solid #373737;
  padding: 10px 0;
}

.nav-item {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.nav-item a {
  text-decoration: none;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}
.nav-item a img {
  margin-right: 15px;
  height: 20px;
}

.nav-item:hover {
  background-color: #383838;
  transition: background-color 0.2s ease;
}

.list-heading {
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.nav-item .subsription {
  font-size: 14px;
  font-weight: 300;
}
.nav-item .subsription img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.nav-link-active {
  background-color: #383838;
}

.mini-nav-list {
  padding: 15px 0;
  list-style-type: none;
  background-color: #212121;
  width: auto;
  display: inline-block;
  height: 95vh;
  position: fixed;
  top: 33px;
  margin-left: -100%;
}

.mini-nav-item {
  margin: 30px 0;
  padding: 5px;
}
.mini-nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 11px;
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
}
.mini-nav-item a img {
  padding-bottom: 5px;
  height: 24px;
}

.mini-nav-item:hover {
  background-color: #5c5b5b;
  transition: background-color 0.3s ease;
}

.margin-left {
  margin-left: 0;
}

.margin-left-minus {
  margin-left: -100%;
  transition: margin 0.3s ease;
}

@media only screen and (max-width: 750px) {
  .nav-section {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .mini-nav-list {
    margin-top: -8vh;
    position: fixed;
    top: 100vh;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    z-index: 10;
  }
}
@media only screen and (max-height: 815px) {
  .mini-nav-list {
    top: 101vh;
  }
}
@media only screen and (max-height: 1400px) {
  .nav-section {
    height: 110vh;
  }
}
.videos-box {
  width: 100%;
  height: auto;
}

.videos-list {
  transition: padding 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  width: 95%;
  padding-left: 230px;
  margin: 0 auto;
}

.videos-item {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 10px;
  flex-direction: column;
}
.videos-item .video-box {
  position: relative;
  height: auto;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.videos-item .video-box iframe {
  width: 100%;
  height: 100%;
}
.videos-item .video-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.videos-item .video-box .icon {
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.videos-item .video-box .new {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.747);
}
.videos-item .video-text-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.videos-item .video-text-box img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.padding-left {
  transition: padding 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  width: 95%;
  padding-left: 230px;
  margin: 0 auto;
  padding-left: 70px;
}

.video-box:hover .icon {
  display: block;
  right: 2px;
  top: 1px;
}
.video-box:hover .icon2 {
  top: 35px;
}

@media only screen and (max-width: 1300px) {
  .videos-item {
    width: 30%;
  }
}
@media only screen and (max-width: 900px) {
  .videos-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .padding-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .videos-item {
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .padding-left {
    padding: 0;
  }

  .videos-item {
    width: 80%;
  }
  .videos-item .video-text-box {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
  }
  .videos-item .video-text-box img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .padding-left {
    padding: 0;
  }

  .videos-list {
    padding: 0;
  }

  .videos-item {
    width: 100%;
  }
  .videos-item .video-text-box {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
  }
  .videos-item .video-text-box img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.modal-window {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(61, 59, 59, 0.507);
  z-index: 100;
}
.modal-window .modal-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  right: 10%;
  top: 6%;
}
.modal-window .modal-btn img {
  width: 25px;
  height: 25px;
}
.modal-window .video-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-window .iframe {
  width: 70%;
  height: 65%;
}

@media only screen and (max-width: 800px) {
  .modal-window button {
    top: 2%;
    right: 3%;
  }
  .modal-window .video-box1 .iframe {
    width: 80%;
    height: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .modal-window .video-box1 .iframe {
    width: 100%;
    height: 30%;
  }
}
.site-main {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v20-latin-100.woff2") format("woff2"), url("../fonts/roboto-v20-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-900.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: white;
}

body {
  background-color: #181818;
  width: auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: #5c5b5b;
}

/*# sourceMappingURL=styles.css.map */
