@use "_lib.scss";
.nav-section {
  padding-top: 20px;
  width: 240px;
  background-color: #212121;
  margin-top: -27px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  transition: margin 0.2s ease;
}

@media only screen and (max-width: 1368px) {
  .nav-section {
    height: 95vh;
  }
}
.nav-section::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

.nav-section::-webkit-scrollbar-track {
  border: none;
}
.nav-section::-webkit-scrollbar-thumb {
  background-color: #5c5b5b;
}
.nav-list {
  list-style-type: none;
  width: 100%;
  border-bottom: 0.2px solid $border-color;
  padding: 10px 0;
}

.nav-item {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  a {
    @include lib.anchor(none, inline-block);
    @include lib.flexBox(center, flex-start);
    padding: 10px 0;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    img {
      margin-right: 15px;
      height: 20px;
    }
  }
}

.nav-item:hover {
  background-color: #383838;
  transition: background-color 0.2s ease;
}

.list-heading {
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.nav-item {
  .subsription {
    font-size: 14px;
    font-weight: 300;
    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
}

.nav-link-active {
  background-color: #383838;
}

.mini-nav {
  background-color: #212121;
  width: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
}

.mini-nav-list {
  list-style-type: none;
}

.mini-nav-item {
  padding: 1px 5px;
  width: 100%;
  a {
    margin: 18px 0;
    @include lib.flexBox(center, center);
    flex-direction: column;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: rgb(224, 223, 223);
    img{
      margin-bottom: 7px;
    }
  }
}

.mini-nav-item:hover{
  background-color: #383838;
}

.margin-left {
  margin-left: 0;
}

.margin-left-minus {
  margin-left: -100%;
  transition: margin 0.3s ease;
}

@media only screen and (max-width: 750px) {
  .nav-section {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mini-nav{
    width: 100%;
    height: auto;
    top: 90%;
  }

  .mini-nav-list{
    display: flex;
  }
}

@media only screen and (max-height: 815px) {
}

@media only screen and (max-height: 1400px) {
  .nav-section {
    height: 110vh;
  }
}
