@use "_lib.scss";
.nav-section {
  padding-top: 20px;
  width: 240px;
  background-color: #212121;
  margin-top: -27px;
  height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 1368px){
  .nav-section{
    height: 95vh;
  }
}
.nav-section::-webkit-scrollbar{
  width: 10px;
  height: 50px;
}

.nav-section::-webkit-scrollbar-track{
  border: none;
}
.nav-section::-webkit-scrollbar-thumb{
  background-color: #5c5b5b;
}
.nav-list {
  list-style-type: none;
  width: 100%;
  border-bottom: 0.2px solid $border-color;
  padding: 10px 0;
}

.nav-item {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  a {
    @include lib.anchor(none, inline-block);
    @include lib.flexBox(center, flex-start);
    padding: 10px 0;
    font-weight: 500;
    text-transform: capitalize;
    img {
      margin-right: 15px;
    }
  }
}

.nav-item:hover {
  background-color: #383838;
  transition: background-color 0.2s ease;
}

.list-heading {
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.subsription{
  font-size: 14px;
  font-weight: 300;
  img{
    border-radius: 50%;
  }
}

.nav-link-active{
  background-color: #383838; 
}
//https://www.youtube.com/watch?v=U_azgdEbNAw
//https://youtu.be/embed/U_azgdEbNAw
//https://youtube.com/embed/U_azgdEbNAw
